@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 30px;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 26.666666666666664px;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 22.22222222222222px;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 17.77777777777778px;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 16.666666666666668px;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 13.333333333333332px;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 11.5px;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 11.11111111111111px;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 10.416666666666668px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 8.88888888888889px;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
  body {
    font-size: 6.666666666666666px;
  }
}
/* 定位 */
/* margin + transform 居中 */
/* position 居中 */
/* 设置宽高 */
/* flex 居中 */
/* 图片居中 */
/* 设置 native title */
/* 设备 title 栏高度 */
/* 去除默认样式 */
ul,
li,
body,
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 基本样式 */
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  /* 禁止用户选取文本 */
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit览器*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
/* 测试用 */
h1.txt {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/* 辅助类 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both;
}
.device-title {
  width: 100%;
  height: 68px;
}
